@import url('https://fonts.googleapis.com/css?family=Rubik');
body {
    margin: 0;
    //background-color: green;
    font-family: 'Rubik', sans-serif !important;
}

.margin-sm-top {
    margin-top: 50px;
}

.margin-md-top {
    margin-top: 100px;
}
